#aside{
    text-align: left;
    font-weight: 400;
}
#aside li:hover{
    cursor: pointer;
    color: tomato;
}

#aside-toggle{
    position: absolute;
    z-index: 1;
    display: none;
    top: 10px;
    right: 15px;
    width: 26px;
    height: 18px;
    background-color: transparent;
    background-position: 0 -3px;
    border: 1px solid transparent;
    background-image: linear-gradient(0deg, #777777 16.67%, transparent 16.67%, transparent 50%, #777777 50%, #777777 66.67%, transparent 66.67%, transparent 100%);
    background-size: 12.00px 12.00px;
}
#aside-toggle:hover{
    cursor: pointer;
    background-image: linear-gradient(0deg, #ff0000 16.67%, transparent 16.67%, transparent 50%, #ff0000 50%, #ff0000 66.67%, transparent 66.67%, transparent 100%);
}
#aside{
  min-width: 200px;
  border-top: 3px solid #f0f0f0;
  padding: 15px;
  margin: 10px 10px 10px 0;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
  -moz-box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
  box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
}
#aside h2{
  font-weight: 100;
  font-size: 1.5em;
}
#aside h2 span{
  color: red;
  font-weight: 400;
}
#aside ul{
  list-style-type: none;
  padding: 0;
}
#aside ul li{
  margin-bottom: 15px;
}
#aside ul li img{
  vertical-align: middle;
  border-radius: 16px;
}

@media all and (max-width: 600px) {
    #aside-toggle{
        display: block;
    }
    #aside{ 
        position: absolute;
        top: 0;
        width: 100%;
        display: none;
        text-align: center;
        background: #fff;
        margin-top: 0 !important;
        border: none !important;
        -webkit-box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
        -moz-box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
        box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
    }
    #aside h1{
        align-self: center;
    }
    #aside.visible{
        display: block;
    }
}
