.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: left;
    font-weight: 400;
}

@media all and (min-width: 600px) {
    #aside   { flex: 1 0;}
    .main    { flex: 4 0;}
    .main    { order: 1; }
    #aside   { order: 2; }
    .footer  { order: 3; }
}

.react-loading-skeleton{
    display: inline-block;
    background-color: #e0e0e0;
    width: 100%;
    animation: flash 5s;
}

@keyframes flash {
  0% { opacity: 1; }
  10% { opacity: 0; }
  20% { opacity: 1; }
  30% { opacity: 0; }
  40% { opacity: 1; }
  50% { opacity: 0; }
  60% { opacity: 1; }
  70% { opacity: 0; }
  80% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}
