.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: left;
    font-weight: 400;
}

@media all and (min-width: 600px) {
    #aside   { flex: 1 0;}
    .main    { flex: 4 0;}
    .main    { order: 1; }
    #aside   { order: 2; }
    .footer  { order: 3; }
}
