/* Reset --------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: inline-block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Styles --------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.footer {
    background: tomato;
    font-weight: 400;
}

.main {
    text-align: left;
    font-weight: 400;
}

.aside{
    text-align: left;
    font-weight: 400;
}
.aside li:hover{
    text-align: left;
    cursor: pointer;
    color: tomato;
}

.aside-toggle{
    position: absolute;
    z-index: 1;
    display: none;
    top: 10px;
    right: 15px;
    width: 26px;
    height: 18px;
    background-color: transparent;
    background-position: 0 -3px;
    border: 1px solid transparent;
    background-image: linear-gradient(0deg, #777777 16.67%, transparent 16.67%, transparent 50%, #777777 50%, #777777 66.67%, transparent 66.67%, transparent 100%);
    background-size: 12.00px 12.00px;
}
.aside-toggle:hover{
    cursor: pointer;
    background-image: linear-gradient(0deg, #ff0000 16.67%, transparent 16.67%, transparent 50%, #ff0000 50%, #ff0000 66.67%, transparent 66.67%, transparent 100%);
}

#photoWallButton{
    background-color: #fca494;
    border-radius: 100px;
    box-shadow: rgba(249,154,143, .2) 0 -25px 18px -14px inset,rgba(249,154,143, .15) 0 1px 2px,rgba(249,154,143, .15) 0 2px 4px,rgba(249,154,143, .15) 0 4px 8px,rgba(249,154,143, .15) 0 8px 16px,rgba(249,154,143, .15) 0 16px 32px;
    color: #841300;
    cursor: pointer;
    display: inline-block;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#photoWall{
    display: none;
}

#photoWallButton:hover {
    box-shadow: rgba(249,154,143,.35) 0 -25px 18px -14px inset,
    rgba(249,154,143,.25) 0 1px 2px,
    rgba(249,154,143,.25) 0 2px 4px,
    rgba(249,154,143,.25) 0 4px 8px,
    rgba(249,154,143,.25) 0 8px 16px,
    rgba(249,154,143,.25) 0 16px 32px;
}

#photos {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           5px;
    overflow: hidden; 
}

#photos img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#photos img:hover{
    cursor: pointer;
    opacity: 0.8;
}


/* Fullscreen Slides  -------------------------- */

#slide{
    position: fixed;
    left: 50%;
    top: 50%;
    background:#000;
    height: 0;
    width: 0;
    opacity:0;
    z-index: -1;
    transition: all 0.2s;
}
#slide .img-wrapper{
    position: absolute;
    margin:auto;
    width:100%;
    height: 100%;
    text-align: center;
    background:#000;
}
#slide .btnclose{
    position: absolute;
    top: 5px;
    right: 0;
    right:0;
    background: url("./cross.png") 10px 50% no-repeat #333;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 46px;
    text-indent: -9000px;
    transition: width 0.2s ease-in-out 0s;
    width: 50px;
    outline: none;
    z-index: 10;
}
#slide .btnclose:hover{
    cursor: pointer;
    width:60px;
}
#slide img{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#slide .prev{
    position:absolute;
    top:40%;
    left:-12px;
    z-index:999;
    width:70px;
    height:70px;
    background: url("./controls.png") 0 0 no-repeat;
    text-indent:-9999px;
    outline:none;
}
#slide .prev:hover{
    cursor: pointer;
    background-position:0 -70px;
}
#slide .next{
    position:absolute;
    top:40%;
    right:-12px;
    z-index:999;
    width:70px;
    height:70px;
    background: url("./controls.png") -70px 0 no-repeat;
    text-indent:-9999px;
    outline:none;
}
#slide .next:hover{
    cursor: pointer;
    background-position:-70px -70px;
}

/* Fullscreen Slides  end -------------------------- */

@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

@media all and (min-width: 600px) {
    .aside   { flex: 1 0 0; }
    .main    { flex: 3 0px; }
    .main    { order: 1; }
    .aside   { order: 2; }
    .footer  { order: 3; }
}

@media all and (max-width: 600px) {
    .aside-toggle{
        display: block;
    }
    .aside{ 
        position: absolute;
        top: 0;
        width: 100%;
        display: none;
        text-align: center;
        background: #fff;
        -webkit-box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
        -moz-box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
        box-shadow: 0px 6px 6px 0px rgba(177,177,179,1);
    }
    .aside h1{
        align-self: center;
    }
    .aside.visible{
        display: block;
    }
    #photoWallButton{
        background-color: transparent;
        border:none;
        box-shadow: none;
        opacity: 0.8;
    }
    #photoWallButton:hover {
        box-shadow: none;
        opacity: 1;
    }
}
